.header {
    font-size: 2.5rem;
    display: flex;
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
    z-index: 100;
    background-color: #3b302c;
    color: #fcf1d9;
}

@media screen and (max-width: 729px) {
    .header {
        display: block;
        width: 100%;
    }

    .header-title {
        width: 100%;
        margin-right: 100%;
    }

    .header-tab {
        width: 100%;
    }
}

@media screen and (min-width: 730px) {
    .header-title {
        position: inline-block;
        padding-left: $l-padding;
        padding-top: .5rem;
    }

    .header-tabs {
        position: absolute;
        right: 4.2rem;
        margin-top: 2rem;
        top: 0;
        z-index: 10;
    }

    .header-tab {
        display: inline-block;
        margin-top: auto;
        padding-left: $l-padding;
        padding-right: $l-padding;
    }

    .header-tab-active {
        display: inline-block;
        margin-left: $l-padding;
        margin-right: $l-padding;
        color: #c4c3c1;
        padding-bottom: 3px;
        border-bottom: 2.2px solid #c4c3c1;
    }
}