.container-main {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    top: 5.5rem;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.container-main-main,
.container-main-info {
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.container-main-info::-webkit-scrollbar {
    display: none;
}

.container-main-info {
    width: 33%;
    background-color: #ebeae6;
    padding: .5rem;
    height: 100%;
}

.container-main-main {
    flex: 1;
    background-color: #fdfaf3;
}

@media screen and (max-width: 729px) {
    .container-main-main {
        margin-top: 5.2rem;
    }

    .container-main-info {
        margin-top: 6.5rem;
    }
}

.container-main-img {
    padding-top: 1.5rem;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.home-label {
    padding-top: 3rem;
    font-size: $l-font;
    font-weight: 550;
    text-align: center;
}

@media screen and (max-width: 1500px) {
    .home-desc {
        padding-top: 1.5rem;
        font-size: 1.7rem;
        font-weight: 500;
        color: #acabaa;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-style: italic;
    }
}

@media screen and (min-width: 1501px) {
    .home-desc {
        padding-top: 1.5rem;
        font-size: 1.7rem;
        font-weight: 500;
        color: #acabaa;
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        font-style: italic;
    }
}

.two-rem-text {
    font-size: 2rem;
}

.info-title-home {
    color: #3f3f3e;
    text-align: center;
}

.info-title-title {
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    display: relative;
    padding-bottom: 1rem;
    width: 75%;
    font-size: $l-font;
    text-align: center;
    border-bottom: 1.5px solid black;
}

.update-block {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .75rem;
    padding-right: .75rem;
}

.update-block:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.update-title {
    color: #008CBA;
    font-size: 2.3rem;
    margin-bottom: 2px;
}

.update-highlights {
    margin-bottom: 2px;
    margin-left: .75rem;
}

.update-date {
    font-size: 1.8rem;
    color: rgb(112, 113, 114);
    margin-left: .75rem;
}