.video-block {
    margin: 1.5rem;
    padding-top: 1rem;;
    padding-bottom: 5rem;
    padding-left: 1rem;
    width: 95%;
    text-align: left;
    background-color: white;
    font-size: $m-font;
    box-shadow: 1px 1.5px 2px gray;
    border-radius: 5px;
}

.video-block-active {
    margin: 1.5rem;
    padding-top: 1rem;;
    padding-bottom: 5rem;
    padding-left: 1rem;
    width: 95%;
    text-align: left;
    font-size: $m-font;
    border-left: 4px solid black;
    border-radius: 5px;
}

.video-block-active:focus {
    outline: 0;
}

.video-block-active:active {
    outline: 0;
}

.line {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.teaching-video {
    padding-top: 5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.teaching-email {
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    font-size: 3rem;
    color: black;
    width: 80%
}

.teaching-email-desc {
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    text-align: left;
    width: 80%;
    font-size: 2rem;
    color: gray;
}

.teaching-locations {
    position: relative;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: left;
    font-size: 2rem;
}

.teaching-named-title {
    display: inline-block;
    margin-right: 1rem;
}

.teaching-named-desc {
    display: inline-block;
    color: gray;
}

.small-margin-top {
    margin-top: 2rem;
}

.appointment-button {
    position: relative;
    padding: 13px 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdfaf3;
    color: #008CBA; 
    border: 2px solid #008CBA;
    vertical-align: middle;
    border-radius: 10px;
}

.appointment-button:hover {
    background-color: #008CBA;
    color: #fdfaf3;
}

.appointment-button:focus {
    outline: 0;
}
